body{
    text-align: center;
    background-color: royalblue;
}
h1{
    background-color: aqua;
    color:darkcyan;
}
p{
    background-color: aquamarine;
color: red;
    font-size: 30px;
}
h2{
      background-color:darkgreen;
     color:brown;
}

